package day%%DAY%%

import common.io.inputFile
import java.io.File


val file = inputFile("day%%DAY%%.txt")

fun main() {
    val solution = solvePuzzle(file)

    println("1: ${solution.first}")
    println("2: ${solution.second}")
}

fun solvePuzzle(file: File): Pair<Int, Int> {
    TODO()
}

fun parseInput(input: String): Any {
    TODO()
}

