package day%%DAY%%

import io.kotest.matchers.shouldBe
import org.junit.jupiter.api.Test

class Day%%DAY%%Test {

  private val sample =
    """
    """
      .trimIndent()

  @Test
  fun `solve part one with sample input`() {
    TODO()
  }

  @Test
  fun `solve part two with sample input`() {
    TODO()
  }

  @Test
  fun `solve puzzle`() {
    val solution = solvePuzzle(file)
    solution.first shouldBe ""
    solution.second shouldBe ""
  }

}
